<header class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <img src="assets/logo.svg" alt="PoE Museum" />
      <span class="logo-text">PoE Museum</span>
    </div>
  </div>
  
  <nav class="navbar-center">
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active" class="nav-link"><i class="fas fa-layer-group"></i> Galería</a></li>
      <ng-container *ngIf="currentUser; else notLoggedInNav">
        <li><a routerLink="/my-builds" routerLinkActive="active" class="nav-link"><i class="fas fa-user"></i> Mis Builds</a></li>
        <li><a routerLink="/create-build" class="nav-link"><i class="fas fa-plus-circle"></i> Crear Build</a></li>
      </ng-container>
      <ng-template #notLoggedInNav>
        <li class="nav-item-disabled"><span class="nav-link disabled"><i class="fas fa-user"></i> Mis Builds</span></li>
        <li><a routerLink="/login" class="nav-link"><i class="fas fa-plus-circle"></i> Crear Build</a></li>
      </ng-template>
    </ul>
  </nav>
  
  <div class="navbar-right">
    <div class="search-box">
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Buscar builds..." />
    </div>
    
    <div class="user-menu">
      <!-- Usuario logueado -->
      <ng-container *ngIf="currentUser; else loginButtons">
        <div class="user-icon logged-in" (click)="toggleMenu()">
          <i class="fas fa-user"></i>
        </div>
        <div class="dropdown-menu" [class.active]="isMenuOpen">
          <span class="user-greeting">Hola, {{ currentUser.nombre }}</span>
          <div class="dropdown-divider"></div>
          <a routerLink="/profile" class="dropdown-item" (click)="isMenuOpen = false"><i class="fas fa-user-circle"></i> Mi Perfil</a>
          <a routerLink="/my-builds" class="dropdown-item" (click)="isMenuOpen = false"><i class="fas fa-layer-group"></i> Mis Builds</a>
          <a routerLink="/create-build" class="dropdown-item" (click)="isMenuOpen = false"><i class="fas fa-plus-circle"></i> Crear Build</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
      </ng-container>
      
      <!-- Usuario no logueado -->
      <ng-template #loginButtons>
        <div class="user-icon" (click)="toggleMenu()">
          <i class="fas fa-user"></i>
        </div>
        <div class="dropdown-menu" [class.active]="isMenuOpen">
          <a routerLink="/login" class="dropdown-item" (click)="isMenuOpen = false"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>
          <a routerLink="/register" class="dropdown-item" (click)="isMenuOpen = false"><i class="fas fa-user-plus"></i> Crear Perfil</a>
        </div>
      </ng-template>
    </div>
  </div>
</header>
